<div class="p-0 mt-3 ml-0">
<h1>Our cocktails</h1>
<% @cocktails.each do |cocktail| %>
<div class="border-bottom">
<h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
</div>
<% end %>
</div>
